* {
    font-family: 'Raleway', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.background-image {
    position: absolute;
    width: 1440px;
    height: 100%;
    top: 0;
    opacity: 0.3;
    z-index: -1;
    object-fit: cover;
}

.about {
    position: relative;
    z-index: 1;
    width: 330px;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 0px;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    color: #007BFF;
}

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 1440px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.img-about img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    padding-top: 20px;
}

.img-about {
    text-decoration: none;
}

@media (max-width: 768px) {
    .about-section {
        max-width: 768px;
    }

    header {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 768px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.background-image {
    position: absolute;
    width: 768px;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
    object-fit: cover;
}

header h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    padding: 0;

}

    
}