header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.about-section {
    height: 1960px;
}