* {
    font-family: 'Raleway', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.about-section {
    max-width: 330px;
    margin: 0 auto;
}

.img-about img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.img-about {
    text-decoration: none;
}

@media (max-width: 768px) {
    .about-section {
        max-width: 768px;
    }

    
}